.solid
{
    border: solid #800080 1px;
}


.dotted
{
    border: dotted red 1px;
}

.dashed
{
    border: dashed green 5px;
}

.double
{
    border: double pink 1px;
}

.left
{
    border-left: solid orange 5px;
}

.rond
{
    border: solid orange 3px;
    border-radius: 10px;
}

.border-img
{
    border: solid orange 3px;
    border-radius: 50%;

}



