/*general*/
@font-face {
	font-family: 'Courgette';
	src: url(../ressources/Courgette-Regular.woff) format('woff');
    font-weight: normal;
    font-size: normal;
    font-display: auto;
}

img{
    margin: 0.5em;
}

strong{
    color: #003884;
} 

em{
    color: #4f89b9;
}

body{
    font-family: 'Source Code Pro', monospace;
}

.titre, .menu, .citation, h2, h3{
    font-family: 'Courgette', 'sans-serif';
    font-weight: 600;
}

li a{
    text-decoration: none;
    color: #4f89b9;
}

.titre-reseau{
    color: #003884;
    font-size: 1.563rem;
}

/************************************************************/


.blockquote{
    text-align: center;
    background: #d7e1ef;
    color: #003884;

}

.menu
{
    font-size: 1.25rem;
    color: #003884;

}

.titre
{
    font-size: 2.5rem;
    color: #003884;

}

h2{
    font-size: 2.188rem;
    color: #4f89b9;
    ;

}

h3{
    font-size: 1.563rem;
    color: #003884;
}


.flag-ny{
    float:right;    
    display: inline;
}

.statue-of-liberty{
    float: left;
}

.clear{
    clear: both;
}

.brooklyn-bridge{
    float: right;
}

.taxi-cab{
    float: left;
}

/*footer*/
.fa-brands
{
    font-size: 1.875rem;
    color: #003884;
    margin: 0.1em;

}

.copyright{
    font-size: 0.875rem;
    color: #444
}

.divider
{
    border-top: 2px solid #003884;
}